
.vs/passave project/v15/.suo
.vs/passave project/v15/Server/sqlite3/db.lock
.vs/passave project/v15/Server/sqlite3/storage.ide
.vs/passave project/v15/Server/sqlite3/storage.ide-shm
.vs/passave project/v15/Server/sqlite3/storage.ide-wal
passave project/bin/Debug/MetroFramework.Design.dll
passave project/bin/Debug/MetroFramework.dll
passave project/bin/Debug/MetroFramework.Fonts.dll
